.head-title {
  /* position: absolute; */
  /* z-index: 10; */
  color: rgb(85, 85, 85);
  font-family: 'Poppins', sans-serif;
  /* top: 30%;
  left: 40%; */
  /* margin-bottom: 2rem; */
}

.head-desc {
  /* position: absolute; */
  /* z-index: 10; */
  color: rgb(85, 85, 85);
  font-family: 'Poppins', sans-serif;
  /* top: 40%;
  left: 40%; */
}

.menuIcon {
  position: fixed;
  top: 1rem;
  right: 2rem;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}

.hamburger {
  color: rgb(97, 97, 97);
  height: 100%;
  width: auto;
}

@media (min-width: 1200px) {
  .menuIcon {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
